html{
    margin:0;
} 

body{
    margin:0;
    text-align: center;
    background: #FFFFF9;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size : 14px;
    color:#666666;
}

h3{
    font-size: 14px;
}

li{
    padding:2px;
}

p{
    line-height:20px;
    font-size:13px;
}

img{
    border:none;
}

a{
    color:#333333;
    text-decoration:none;    
}

a:link{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

ul{
    text-align: left;
}



a.Cancel{
    margin-right:7px;
    padding: 3px 20px 0 0;
    background: transparent url("https://renoirplumbing.com/images/icons/cancel.png") bottom right no-repeat;);
}

a.Email{
    margin-right:7px;
    padding: 3px 0 2px 20px;
    background: transparent url("https://renoirplumbing.com/images/icons/email.png") bottom left no-repeat;);
}



#fade{
    position:absolute;
    left:2px;
    right:15px;
    height:20px;
    width:88%;
    z-index:1000;
    background:transparent url("https://renoirplumbing.com/images/fade.gif") top left repeat-x;
}

#container {
    width:900px;
    margin:0px auto;
    padding:0;
    text-align:left;
min-height: 400px;
}

a.logo{
    margin: 30px 0 30px 30px;
    display:block;
    width:275px;
    height:40px;
    background:transparent url( "../assets/1/3/logo.png" )
}

a.logo h1{
    text-indent:-9999px;
    display:block;
    margin:0;
    padding:0;
}

ul.navigation {
    font-family: Georgia, serif;     
    padding:0;
    width:100%;
    margin:0;
    background-color:#95959A;
    border:1px solid #95959A; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

ul.navigation li {
    display:inline;
    margin:0;
    padding:0
}

ul.navigation li:first-child{
    margin-left:15px;
}
    
ul.navigation li a {
    background-color: transparent;
    text-decoration: none;
    font-weight:normal;
    line-height:30px;
    font-size:15.5px;
    padding: 15px 15px 6px;
    margin: 0 0 0 10px;
    color:#fff;
}

    
ul.navigation li a:hover{
    font-weight: normal;
}


ul.navigation li.active a {
    border-color: transparent;
    border-style:solid;
    background: #FFFFF9 url( "../assets/1/2/gradient.png" );
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    color: #000;
}
    


a.logIn{
    float: right;
    width: 180px;
    margin-top:40px;
    background: #95959A;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

}

a.logIn:hover {
  text-decoration: none;
  background: #A4A4AA;
}

a.logIn h3{
    color:#FFFFFF;
    font-family: Georgia, serif;         
    font-size:13.5px;
    font-weight:normal;
    padding-left: 22px;
    margin: 10px 15px;
    background: transparent url( "../assets/1/4/lock.png" ) top left no-repeat;
}

a.logIn div{
    color:#fff;
    font-size:11px;    
    margin:5px 15px 10px 15px;
}

a.logIn div label{
    padding:0;
}

div.content{
    margin:40px;
    width:600px
}

ul.leftNav{
    width:200px;
    float:left;
}

div.profiles{
    width:600px;
    margin-left:240px;
    margin-top:40px
}



.profiles .employeeDetail{
    width:550px;
    margin-bottom:20px;
    border-bottom:1px solid #EEE;
    overflow:hidden;
    padding-bottom:20px;
}

.profiles .employeeDetail img{
    float:left;
    border:1px solid #95959A;
    padding:4px;
    background:transparent;
}

.profiles .employeeDetail .description{
    width:280px;
    margin-left: 220px;
}


.profiles .employeeDetail .description h3{
    margin:5px 0 0 0;
    padding:0;
}

.profiles .employeeDetail .email{
    font-size:10px;
}

.profiles .employeeDetail .bio{
    font-size:12px;
    line-height:15px;
}


ul.leftNav{
    float:left;
    width:200px;
    margin:40px 0 0 0px;
    padding:10px 0 0 0;
    border-left:1px solid #95959A;
}

ul.leftNav li{
    list-style:none;
    padding-left:10px;
    font-size:12px;
    line-height:10px;
    font-family:Arial;
    font-weight:bold;
    margin: 0 0 10px 3px;

}

ul.leftNav li.active{
    border-left:3px solid #3b67a1;
    margin-left:0;
}

ul.leftNav li.active a{
    color: #3b67a1

}

.aboutCompany{
    margin-top:40px;    
    width:610px;
}

.aboutCompany h3{
    margin-bottom:0;
}

.aboutCompany h4{
    margin:0;
    font-size:13px;
    font-weight:normal;
}

.aboutCompany img.theCrew{
    border: 1px solid #95959A;
    padding:5px;
    background:transparent;
    margin-top:15px;
    margin-bottom:20px;
}



.contactContainer{
    margin-top:40px;
    width:300px;
    font-size:13px;
}

.contactContainer h3{
    text-align:right;    
}

.contactContainer .row{
    margin-bottom:15px;
    overflow:hidden;
    
}

.contactContainer .row label{
    float:left;
    padding-left:20px;
}

.contactContainer .row > div{
    width:150px;
    margin-left:105px;
}








#options {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 20px 0 0;
    background: url("https://renoirplumbing.com/images/home_themes/renoirplumbing/header_tr.gif") no-repeat top right;
    margin: 0; /* need for IE Mac */
    text-align: right; /* need for IE Mac */
    font-size:9pt;
    white-space: nowrap; /* for Opera */
}
    
#options a {
    color: #fff;
}

div.pictures_container{
    margin:0 auto;
    width:540px;
    padding:0;
}

div.picture_container{
    float: left;
    width:270px;
    margin:0;
    text-align:center;
    
}



div.picture_container img{
    margin:15px auto 5px auto;
    border:1px solid #666;
    padding:5px;
    vertical-align:middle;
}

div.Disable{

}

div#slide_show_picture{
    position:absolute;
    top:30px;
    right:25px;
    left:25px;
    z-index:2000;

}

div.medium_picture_container{
    margin:25px auto;
    border: 1px solid black;
    width:520px;
    padding:10px 0px;
    background:#fff;
}

div.medium_picture_container p{
    padding:010px;
    margin:0;
}

#slide_show{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:1500;
    overflow:auto;
    background: #ccc;
    text-align:center;
    opacity:.90;
    filter: alpha(opacity=90); -moz-opacity: 0.9;
}


div.LeftField{
    width: 60px;
    border: 1px solid #000;
    padding: 4px 2px 2px 2px;
    text-align: left;
    font-weight: normal;
}

div.RightField{
    width: 158px;
    border: 1px solid #000;
    padding: 4px 2px 2px 2px;
    text-align: left;
    font-weight: normal;
}

div.StreetNumber{
    width: 60px;
    border: 1px solid #000;
    padding: 4px 2px 2px 2px;
    text-align: right;
    font-weight: normal;
}

div.ShowTextArea{
    width: 225px;
    height: 70px;
    border: 1px solid #000;
    padding: 4px 2px 2px 2px;
    text-align: left;
    font-weight: normal;
    overflow: auto;
}

input.StreetNumber{
    width: 60px;
    margin: 0 5px 0 0;
    text-align: right;
}


input.StreetName{
    width: 160px;
    margin: 0;
}

input.AptNumber{
    width: 60px;
    margin: 0 5px 0 0;
}

input.City{
    width: 160px;
    margin: 0;
}

input.State{
    width: 60px;
    margin: 0 5px 0 0;
}

input.Zip{
    width: 160px;
    margin: 0;
}

select.JobType{
    width: 60px;
    margin: 0 5px 0 0;
}

textarea.Description{
    width: 225px;
    height: 70px;
    margin: 0;
}

textarea.Notes{
    width: 225px;
    height: 70px;
    margin: 0;
}

input.Submit{
    margin: 15px 0 0 0;
    float: left;
    width: 225px;
}

div.service_request{
    width:250px;
    margin:0 auto;
}

p.left{
    float:left;
}

div.footer{
margin: 50px 0 14px 0;
height: 14px;
}