---
title: "Hydronic Heating"
date: 2018-11-18T12:33:46+10:00
featured: true
weight: 4
layout: service
description: Hydronic heat is the quietest most comfortable heating system possible.  Hydronic heating uses tubing to run hot water under the floor, through radiators or along baseboards to provide heat.
---

<div class="row mt-6">
  <div class="col-12">
    <h2>Delivery systems</h2> 
  </div>
</div>
<div class="row justify-content-start mt-0">
  <div class="col-12 col-md-6 order-1">

    <h3>Embedded in concrete</h3>
    <p>Pex tubing embedded in a concrete slab provides long lasting heat.  A large thermal mass is created so this is optimal for keeping buildings at a constant temperature.</p>

    <h3>Under floor heating Transfer plates</h3>
    <p>
      Aluminium plates attached to the bottom of the sub-floor are used to transfer heat to the living space above.  
    </p>
    
    <h3>In joist bay Ultra-Fin</h3>
    <p>
      Aluminium <a href="http://www.ultra-fin.com/" target="_blank">ULTRA-FIN</a> plates are suspended in the upper two thirds of the joist bay and transfer heat to living space above.  This option has the advantage of covering more square footage with less tubing. 
    </p>

    <h3>Radiators</h3>
    <p>
      Very traditional in hydronic systems <a href="https://runtalnorthamerica.com/" target="_blank">radiators</a> mounted to the wall under windows provide heat to the room.  Can be installed with thermostatic valves to regulate the temperature at every radiator.  
    </p>
    
    <h3>Baseboards</h3>
    <p>
      Like radiators <a href="https://www.slantfin.com/" target="_blank">baseboard</a> heaters are mounted to the wall preferably under windows at the floor level. 
    </p>  
  </div>
  <div class="col-12 col-md-6 order-2 ">
    {% include image.html id="under-slab-pex-tubing" class="rounded" %}
  </div>
</div>

<div class="row mt-6">
  <div class="col-12">
    <h2>Heating sources</h2>
  </div>
</div>
<div class="row justify-content-start">
  <div class="col-12 col-md-6">
    <h3>Gas boilers</h3>
    <p>There are generally two types of boilers, condensing and non-condensing.  Most modern boilers are condensing boilers.  Non-condensing boilers are mechanically simpler but much less efficient.   We work with all types of boilers.</p>
    <h3>Electric Air to Water Heat Pump</h3>
    <p>As the world moves away from fossil fuels electricity is the only option.  Air to water heat pumps use a compressor to move heat from the air to the water.  They are very efficient at moderate temperatures.  We have replaced many traditional water heaters with electric heat pump units.  We expect these to become the norm especially in Berkeley where they have <a href="https://www.theguardian.com/environment/2019/jul/23/berkeley-natural-gas-ban-environment/" target="_blank">banned</a> new natural gas hookups.</p>
  </div>
  <div class="col-12 col-md-6">
    {% include image.html id="pinnacle-boiler-install" class="rounded" %}
  </div>
</div>

<div class="row justify-content-start mt-6">
  <div class="col-12 col-md-6">
    <h2>Combine with domestic hot water</h2>
    <ul>
      <li>Gas hydronic boilers.</li>
      <li>Air to Water Heat Pump</li>
    </ul>
  </div>
  <div class="col-12 col-md-6">
    {% include image.html id="baxi-boiler-install" class="rounded" %}
  </div>
</div>
